.details-wrapper {
    width: 100%;
    background-color: #23232b;
    color: white;
    padding-bottom: 20px;
    min-height: 100vh;
    padding-bottom: 7rem;
}

.detailed {
    margin: 20px auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
    width: 65%;
}

.details {
    margin-top: 20px;
    margin-bottom: 100px;
}

.profile-details.detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}


@media (max-width: 600px) {
    .detailed {
        width: 100%;
        margin: 0 auto;
        padding: 0px;
        max-width: 100%;
    }
}